@model TimeWebApp.Model.Module

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfStudy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stu.Password)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ModId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
